In [7]:
people = {
    "name": ["john", "jane", "joe"],
    "last": ["doe", "foster", "bill"],
    "email": ["johndoe@yahoo.com", "janefoster@aol.com", "joebill@gmail.com"]
}
people["email"]

['johndoe@yahoo.com', 'janefoster@aol.com', 'joebill@gmail.com']

In [8]:
import pandas as pd
df = pd.DataFrame(people)
df

   name    last               email
0  john     doe   johndoe@yahoo.com
1  jane  foster  janefoster@aol.com
2   joe    bill   joebill@gmail.com

In [9]:
df['email']

0     johndoe@yahoo.com
1    janefoster@aol.com
2     joebill@gmail.com
Name: email, dtype: object

Can use dot notation as well, although it can result in errors if the column name is the same as a method or attribute

In [14]:
df.email

0     johndoe@yahoo.com
1    janefoster@aol.com
2     joebill@gmail.com
Name: email, dtype: object

In [15]:
df[['email','last']]

                email    last
0   johndoe@yahoo.com     doe
1  janefoster@aol.com  foster
2   joebill@gmail.com    bill

In [17]:
df.columns

Index(['name', 'last', 'email'], dtype='object')

In [19]:
df.iloc[0]

name                  john
last                   doe
email    johndoe@yahoo.com
Name: 0, dtype: object

In [21]:
df.iloc[[0,1], [0,1]]

   name    last
0  john     doe
1  jane  foster

In [27]:
df.loc[[0,1],'email'] # uses row labels instead of indices

0     johndoe@yahoo.com
1    janefoster@aol.com
Name: email, dtype: object